<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actions</title>
    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            background-color: #f0f0f0;
        }

        .tabs {
            display: flex;
        }

        .tab {
            margin-left: 20px;
        }
    </style>
</head>
<body>
<div class="header">
    <h1>ProgCourse:adminPanel</h1>
</div>
<div class="content">
    <div class="courses">
        <h2>Our courses</h2>
        <div th:each="el:${courses}">
            <h3 th:text="${el.title}"/>
            <a th:href="'/action/'+${el.id}">More...</a>
            <a th:href="'/action/'+${el.id}+'/edit'" class="btn btn-warning">Edit</a>
            <form th:action="'/action/'+${el.id}+'/delete'" method="post">
                <button class="btn btn-warning" type="submit">Delete</button>
            </form>
        </div>
        <a th:href="'/add'">Back to add</a>
    </div>
</div>
</body>
</html>
